.body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 2rem;
  margin: 0 auto;
  max-width: 95rem;

}

.header {
  font-family: Lora;
  grid-column: 3 / span 4;
  padding: 5rem;
}

.nav {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
}

.nav__link, .nav__activelink {
  position: relative;
  width: fit-content;
}

.nav__link:hover::after, .nav__activelink::after {
  border-bottom: 2px solid black;
  content: "";
  display: block;
  position: absolute;
  top: 2rem;
  width: 100%;
}

.main {
  display: grid;
  font-family: "poppins";
  grid-column: 2 / span 6;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2rem;
}

.socials {
  align-items: center;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.socials__link {
  margin: 1.2rem 0;
}

.email {
  font-weight: bold;
  position: fixed;
  transform: rotate(90deg);

}

.footer {
  grid-column: 1 / span 8;
  padding: 5rem;
}

.footer__text {
  font-family: Lora;
  text-align: center;
}
